* {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: 'Exo 2', sans-serif;
}

/* лого, мени навигација START  */
body, html {
  width: 100%;
}
.nav-bar {
    width: 100%;
    height: 110px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .04);  
}
.nav-bar .nav-bar-elements {
    width: calc(100% - 300px);
    height: 110px;
    margin: 0 auto;
}

.nav-bar .nav-bar-elements {
    display: flex;
    flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
}

.nav-bar .nav-bar-elements .circle-logo {
    width: 197px;
    height: 46px;
    background-image: url(../picture/CIRCLE\ LOGO\ BLACK-01-01.png);
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: cover;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
}

.nav-bar-elements .gender-nav li {
    display: inline;
}
.nav-bar-elements .gender-nav li:first-child{
    margin-right: 50px;
}

/* **************************** GENDER NAV HOVER EFFECT **************************** */

.effect5{
	position: relative;
	transition:600ms;
}
.effect5:after{
	content: attr(data-hover);
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	transition:300ms;
	color: #F29F05;
	letter-spacing: -25px;
	width: 100%;
	text-align: center;
}
.effect5:hover:after{
	letter-spacing: 0px;
	opacity: 1;
}
.effect5:hover{
	color: transparent !important;
}
/* #Effect5 */
/* front */
.text-hover{
	width: 100%;
	height: 100%;
	cursor: default;
	position: relative;
	overflow: hidden;
	perspective:1000px;
	-webkit-perspective:1000px;
	-moz-perspective:1000px;
	display: -webkit-box;
	display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -moz-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -moz-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    text-align: center;
}

.demo5{
	text-shadow:0px 0px 0px rgb(255, 217, 0, 0.5);
}
 
.nav-bar-elements .gender-nav a {
    font-size: 55px;
    text-decoration: none;
    font-weight: bold;
    color: #222222;
    text-transform: uppercase;
}

.user-nav li {
    float: left;
    display: flex;
    margin: 0 40px 0 0;
}

.user-nav li:last-child {
margin: 0;
}

.user-nav li span {
    margin-left: 10px;
    color: #A7A7A7;
}

.user-nav ul li a {
    width: 22px;
    height: 22px;
    display: flex;
}

.user-nav .user-search-icon  {
    background-image: url(../picture/nav-icons/search\ icon.svg);
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: cover;
    border: none;
    outline: none;
    cursor: pointer;
}

.user-nav .user-love-icon  {
    background-image: url(../picture/nav-icons/srce\ icon.svg);
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: cover;
    border: none;
    outline: none;
    cursor: pointer;
}

.user-nav .user-profile-icon {
    background-image: url(../picture/nav-icons/profile\ icon.svg);
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: cover;
    border: none;
    outline: none;
    cursor: pointer;
}

.user-nav .user-shop-icon  {
    background-image: url(../picture/nav-icons/kosnica\ icon.svg);
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: cover;
    border: none;
    outline: none;
    cursor: pointer;
}

.user-nav li:nth-child(3) {
    border-right: 1px solid #A7A7A7;
    padding-right: 40px;
}

/* лого, мени навигација END  */

/* ПОДмени START */

.podnav-bar {
    width: 100%;
    height: 80px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .04);
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}

.second-nav ul li {
    display: inline;
}

.second-nav a {
    font-size: 25px;
    font-weight: 500;
    color: #222222;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    margin: 0 20px;
    position: relative;
} 

.second-nav a:before,
.second-nav a:after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #F29F05;
}

.second-nav a:before {
  opacity: 0;
  -webkit-transform: translateY(-8px);
  -ms-transform: translateY(-8px);
  transform: translateY(-8px);
  -webkit-transition: -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
  transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
}

.second-nav a:after {
  opacity: 0;
  -webkit-transform: translateY(4px);
  -ms-transform: translateY(4px);
  transform: translateY(4px);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
}

.second-nav a:hover:before,
.second-nav a:hover:after,
.second-nav a:focus:before,
.second-nav a:focus:after {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.second-nav a:hover:before,
.second-nav a:focus:before {
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
}

.second-nav a:hover:after,
.second-nav a:focus:after {
  -webkit-transition: -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s;
  transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s;
}

/* ПОДмени END */

/* Info section bar START */

.free-delivery-info h1 {
    font-size: 35px;
    color: #222222;
    text-transform: uppercase;
    text-align: center;
    margin: 50px 834px;
    font-weight: 700;
}

.free-delivery-info .info-section {
    width: auto;
    height: 200px;
    background-color: #222222;
    margin: 50px 0 0 0;
}
.img-info {
    height: 200px;
    background: url('../picture/bc-slika.png');
}

.img-info h2 {
    color: #ffffff;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px 0 0 0;
    line-height: 48px;
}

.glitch {
    color: black;
    font-size: 100px;
    position: relative;
    width: 252px;
    margin: 0 auto;
  }
  
  @keyframes noise-anim {
    0% {
      clip: rect(21px, 9999px, 23px, 0);
    }
    5% {
      clip: rect(45px, 9999px, 71px, 0);
    }
    10% {
      clip: rect(25px, 9999px, 47px, 0);
    }
    15% {
      clip: rect(39px, 9999px, 67px, 0);
    }
    20% {
      clip: rect(23px, 9999px, 90px, 0);
    }
    25% {
      clip: rect(58px, 9999px, 91px, 0);
    }
    30% {
      clip: rect(100px, 9999px, 39px, 0);
    }
    35% {
      clip: rect(88px, 9999px, 58px, 0);
    }
    40% {
      clip: rect(6px, 9999px, 22px, 0);
    }
    45% {
      clip: rect(54px, 9999px, 45px, 0);
    }
    50% {
      clip: rect(57px, 9999px, 88px, 0);
    }
    55% {
      clip: rect(81px, 9999px, 3px, 0);
    }
    60% {
      clip: rect(97px, 9999px, 27px, 0);
    }
    65% {
      clip: rect(92px, 9999px, 61px, 0);
    }
    70% {
      clip: rect(9px, 9999px, 38px, 0);
    }
    75% {
      clip: rect(75px, 9999px, 49px, 0);
    }
    80% {
      clip: rect(6px, 9999px, 35px, 0);
    }
    85% {
      clip: rect(17px, 9999px, 82px, 0);
    }
    90% {
      clip: rect(18px, 9999px, 89px, 0);
    }
    95% {
      clip: rect(72px, 9999px, 43px, 0);
    }
    100% {
      clip: rect(78px, 9999px, 66px, 0);
    }
  }
  .glitch:after {
    content: attr(data-text);
    position: absolute;
    left: 2px;
    text-shadow: -1px 0 rgb(255, 238, 0);
    top: 0;
    color: white;
    background: black;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim 2s infinite linear alternate-reverse;

  }
  
  @keyframes noise-anim-2 {
    0% {
      clip: rect(99px, 9999px, 58px, 0);
    }
    5% {
      clip: rect(38px, 9999px, 21px, 0);
    }
    10% {
      clip: rect(7px, 9999px, 75px, 0);
    }
    15% {
      clip: rect(94px, 9999px, 28px, 0);
    }
    20% {
      clip: rect(20px, 9999px, 91px, 0);
    }
    25% {
      clip: rect(12px, 9999px, 4px, 0);
    }
    30% {
      clip: rect(74px, 9999px, 44px, 0);
    }
    35% {
      clip: rect(17px, 9999px, 51px, 0);
    }
    40% {
      clip: rect(75px, 9999px, 63px, 0);
    }
    45% {
      clip: rect(23px, 9999px, 67px, 0);
    }
    50% {
      clip: rect(73px, 9999px, 36px, 0);
    }
    55% {
      clip: rect(93px, 9999px, 40px, 0);
    }
    60% {
      clip: rect(76px, 9999px, 53px, 0);
    }
    65% {
      clip: rect(99px, 9999px, 44px, 0);
    }
    70% {
      clip: rect(26px, 9999px, 97px, 0);
    }
    75% {
      clip: rect(76px, 9999px, 34px, 0);
    }
    80% {
      clip: rect(94px, 9999px, 65px, 0);
    }
    85% {
      clip: rect(86px, 9999px, 18px, 0);
    }
    90% {
      clip: rect(80px, 9999px, 42px, 0);
    }
    95% {
      clip: rect(40px, 9999px, 91px, 0);
    }
    100% {
      clip: rect(75px, 9999px, 86px, 0);
    }
  }
  .glitch:before {
    content: attr(data-text);
    position: absolute;
    left: -2px;
    text-shadow: 1px 0 blue;
    top: 0;
    color: white;
    background: black;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim-2 3s infinite linear alternate-reverse;
    
  }

/* Info section bar END */

/* Product Section START */

.product-container {
  width: 1620px;
  height: auto;
  /* background-color: cadetblue; */
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}

.product-box {
    width: 713px;
    height: 938px;
    background-color: aquamarine;
    box-shadow: 50px 50px 0 rgba(0, 0, 0, .1);
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
}

.product-box.product1 {
    background-image: url(../picture/mainproduct1.jpg);
}

.product-box .product-top {
    width: 100%;
    padding: 40px;
}

.product-box .like-btn {
    width: 40px;
    height: 40px;
    background-image: url(../picture/nav-icons/srce\ icon.svg);
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: cover;
    border: none;
    outline: none;
    cursor: pointer;
}

.product-box .product-bottom {
    flex-grow: 1;
    display: flex;
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 51%, rgba(255,255,255,0.5) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 51%,rgba(255,255,255,0.5) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 51%,rgba(255,255,255,0.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#80ffffff',GradientType=0 );
    align-items: flex-end;
    padding: 40px;
}

.product-bottom .product-description {
    width: 100%;
}

.product-box .product-bottom .product-tittle h3 {
    font-size: 35px;
    margin-bottom: 10px;
}

.product-box .product-bottom .product-tittle span {
    font-size: 20px;
    font-weight: 500;
}

.product-box .product-footer {
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.product-box .product-footer .card-btn {
    width: 40px;
    height: 40px;
    background-image: url(../picture/nav-icons/kosnica\ icon.svg);
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: cover;
    border: none;
    outline: none;
    cursor: pointer;
}

.product-box .product-footer a.product-detal-btn {
    display: inline-block;
    height: 44px;
    border-radius: 25px;
    border: 2px solid #222222;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;
    padding: 7px 33px;
    color: #222222;

}
.product-box .product-footer .details-box {
    width: calc(100% - 80px);
    text-align: center;
    
}

.product-box .product-footer a.product-detal-btn:hover {
    display: inline-block;
    height: 44px;
    border-radius: 25px;
    background-color: #F29F05;
} 

.product2 {
  background-image: url(../picture/mainproduct2.jpg);
  margin-left: 145px;
}

.product3 {
  background-image: url(../picture/mainproduct3.jpg);
  margin-top: 100px;
}

.product4 {
  background-image: url(../picture/mainproduct4.jpg);
  margin-top: 100px;
  margin-left: 145px;
}

/* Product Section END */

/* Slider Products START */

.slider-box-container {
  width: auto;
  height: 796px;
  background-color: #222222;
  margin-top: 100px;
  display: flex;
}

.slider-box .slider-description {
  padding-left: 150px;
  
}
.slider-box .slider-description a.circle-logo-white{
  background-image: url(../picture/CRCLE\ LOGO\ WHITE-01.svg);
  width: 130px;
  height: 29px;
  padding-top: 100px;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: cover;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
}
.slider-box .slider-description .slider-tittle {
  margin-top: 164px;
  color: #f5f5f5;
}

.slider-description .slider-tittle h3 {
  font-size: 35px;
  font-weight: 700;
}

.slider-description .slider-tittle span {
  font-size: 24px;
  font-weight: 300;
  display: flex;
  margin-top: 20px;
}

.slider-products-box .products-box-container {
  width: 1217px;
  height: 600px;
  margin-top: 50px;
  margin-left: 95px;
  display: flex;
}

.product-box1,.product-box2,.product-box3{
  width: 425px;
  height: 600px;
  background-color: #A1ACB2;
  margin-right: 10px;
}

.product-box3 {
  margin: 0;
  width: 347px;
}

.product-box1 .product-box-part1 {
  padding: 30px 0 0 30px;
}

.product-box1 .product-box-part1 h3 {
  font-size: 35px;
  font-weight: 700;
  color: #222222;
}

.product-box1 .product-box-part1 span {
  font-size: 25px;
  font-weight: 500;
  color: #222222;
}

.product-box1 .product-box-part3 button {
  width: 40px;
  height: 40px;
  background-image: url(../picture/nav-icons/kosnica\ icon.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: cover;
  border: none;
  outline: none;
  cursor: pointer; 
  margin-left: 30px;
}

.product-box1 .product-box-part1 .new-product {
  float: right;
  margin: -20px 30px 0 0;
  width: 66px;
  height: 24px;
  background-color: #f5f5f5;
  text-align: center;
  border-radius: 12px;
  font-size: 18px;
  font-weight: 700;
}

.product-box1 .product-box-part2 {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
  align-content: stretch;
  margin-top: 60px;
}

.product-box1 .product-box-part2 .imgproduct{
  width: 276px;
  height: 276px;
}

.product-box1 .product-box-part2 span {
  font-size: 25px;
  font-weight: 500;
  color: #222222;
  margin-top: 70px;
}

/* ******************************** */
.product-box2 .product-box-part1 {
  padding: 30px 0 0 30px;
}

.product-box2 .product-box-part1 h3 {
  font-size: 35px;
  font-weight: 700;
  color: #222222;
}

.product-box2 .product-box-part1 span {
  font-size: 25px;
  font-weight: 500;
  color: #222222;
}

.product-box2 .product-box-part3 button {
  width: 40px;
  height: 40px;
  background-image: url(../picture/nav-icons/kosnica\ icon.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: cover;
  border: none;
  outline: none;
  cursor: pointer; 
  margin-left: 30px;
}

.product-box2 .product-box-part1 .new-product {
  float: right;
  margin: -20px 30px 0 0;
  width: 66px;
  height: 24px;
  background-color: #f5f5f5;
  text-align: center;
  border-radius: 12px;
  font-size: 18px;
  font-weight: 700;
}

.product-box2 .product-box-part2 {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
  align-content: stretch;
  margin-top: 60px;
}

.product-box2 .product-box-part2 .imgproduct{
  width: 276px;
  height: 276px;
}

.product-box2 .product-box-part2 span {
  font-size: 25px;
  font-weight: 500;
  color: #222222;
  margin-top: 70px;
}

/* ************************************************* */


.product-box3 .product-box-part1 {
  padding: 30px 0 0 30px;
}

.product-box3 .product-box-part1 h3 {
  font-size: 35px;
  font-weight: 700;
  color: #222222;
}

.product-box3 .product-box-part1 span {
  font-size: 25px;
  font-weight: 500;
  color: #222222;
}

.product-box3 .product-box-part3 button {
  width: 40px;
  height: 40px;
  background-image: url(../picture/nav-icons/kosnica\ icon.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: cover;
  border: none;
  outline: none;
  cursor: pointer; 
  margin-left: 30px;
}

.product-box3 .product-box-part1 .new-product {
  float: right;
  margin: -20px 30px 0 0;
  width: 66px;
  height: 24px;
  background-color: #f5f5f5;
  text-align: center;
  border-radius: 12px;
  font-size: 18px;
  font-weight: 700;
}

.product-box3 .product-box-part2 {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
  align-content: stretch;
  margin-top: 60px;
}

.product-box3 .product-box-part2 .imgproduct{
  width: 276px;
  height: 276px;
}

.product-box3 .product-box-part2 span {
  font-size: 25px;
  font-weight: 500;
  color: #222222;
  margin-top: 70px;
}

.slider-products-box .switch-buttons {
  width: 706px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: flex-end;
	align-content: stretch;
}

.slider-products-box .switch-buttons button {
  width: 79px;
  height: 47px;
  background-color: #F5F5F5;
  border-radius: 25px 0 0 25px;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  border: 0px;
  margin-top: 50px;
}

.slider-products-box .switch-buttons .swibtn1{

}

.slider-products-box .switch-buttons .swibtn1 img {
  width: 25px;
  height: 30px;
}

.slider-products-box .switch-buttons .swibtn2 img {
  width: 25px;
  height: 30px;
}

.slider-products-box .switch-buttons .swibtn2 {
  border-radius: 0 25px 25px 0;
  margin-left: 5px;
}

.slider-products-box .switch-buttons .swibtn1:hover {
  background-color: #F29F05;
}

.slider-products-box .switch-buttons .swibtn2:hover {
  background-color: #F29F05;
}



/* Slider Products END */

/* Privileges section START */

.privileges-section {
    width: auto;
    height: 250px;
    background-color: #EBEBEB;
    margin-top: 50px;
}

.privileges-section-box {
  width: 1720px;
  height: 250px;
  /* margin: 0 auto; */
  padding-right: 80px;
  padding-left: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
  /* padding: 0 115px; */
}

.privileges-header {
  font-size: 35px;
  font-weight: 700;
  color: #222222;
  text-align: center;
  padding-bottom: 5px;
}

.privileges-description {
  font-size: 18px;
  font-weight: 300;
  color: #222222;
  text-align: center;
}

.vertical-border-line {
  width: 2px;
  height: 126px;
  background-color: #D5D5D5;
  
}

/* Privileges section END  */

/* Video Section START */

 .container {
  max-width: 800px;
  margin: 0 auto;
}

button {
  background: 0;
  border: 0;
  width: 32px;
  height: 32px;
}

#videoBox {
  max-width: auto;
  min-width: 250px;
  max-height: 900px;
  min-height: 140.6px;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  margin: 0 auto;
  margin-top: 50px;
}

#videoBox:hover .control-bar {
  opacity: .80;
}

#videoBox:-webkit-full-screen {
  max-width: 1920px;
  max-height: 1080px;
}

#videoBox:-moz-full-screen {
  max-width: 1920px;
  max-height: 1080px;
}

#videoBox:-ms-fullscreen {
  max-width: 1920px;
  max-height: 1080px;
}

#videoBox:fullscreen {
  max-width: 1920px;
  max-height: 1080px;
}

#customVideo {
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.fa {
  color: #aaa;
  cursor: pointer;
  transition: all .2s ease;
  outline: none;
}

.fa:hover {
  color: #F29F05;
}

.control-bar {
  box-sizing: border-box;
  padding: 10px 25px;
  background-color: #222222;
  opacity: 0;
  transition: all .5s ease;
  color: #eee;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

input[type=range],
progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  outline: 0px;
  border: 0;
  width: 100%;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  cursor: pointer;
  height: 3px;
  margin-bottom: 5px;
  background-color: #eee;
  transition: all .2s ease
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 50%;
  height: 18px;
  width: 18px;
  background: #F29F05;
  cursor: pointer;
  margin-top: -7.5px;
  box-shadow: 1px 1px 1px #333, 0 0 1px #333;
  transition: all .2s ease;
}

input[type=range]::-webkit-slider-thumb:hover {
  background-color: #F29F05;
  border: 3px solid #eee;
}

.video-seekbar {
  position: relative;
  display: inline-block;
  width: 70%;
  margin: 0 10px 6px;
}

.video-seekbar input,
.video-seekbar progress {
  height: 5px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0
}

.video-seekbar .bufferBar::-webkit-progress-bar,
.video-seekbar .progressBar::-webkit-progress-bar {
  background-color: #eee;
}

.video-seekbar .progressBar::-webkit-progress-value {
  background-color: #F29F05;
}

.video-seekbar .bufferBar::-webkit-progress-value {
  background-color: #eee;
}

.video-seekbar #seekBar {
  z-index: 5;
}

.video-seekbar #progressBar {
  z-index: 2;
  opacity: .99;
}

.video-seekbar #bufferBar {
  z-index: 1;
}

#volumeBtn {
  margin-left: 20px;
}

input.volumeSeekBar {
  width: 15%;
  margin-right: 2%
}

#fsBtn {
  border: 1px solid #aaa;
  border-radius: 4px;
  float: right
}

/* VIDEO SECTION END */

/* THE STORYBOARD START */

.story-container {
  width: auto;
  height: auto;
  margin-top: 50px;
}

.story-container h1 {
  font-size: 55px;
  font-weight: 700;
  color: #222222;
  text-align: center;
}

.story-container .story-border {
  width: 280px;
  height: 10px;
  background-color: #222222;
  margin: 0 auto;
  margin-top: 10px;
}

.story-container h6 {
  font-size: 35px;
  font-weight: 500;
  color: #222222;
  text-align: center;
  margin-top: 50px;
}

.story-container .real-story-sontainer {
  margin: 50px 150px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
}

.story-container .story-one, .story-two, .story-three {
  width: 507px;
  height: 704px;
}

.story-container .story-one .pic-section {
  width: 100%;
  height: 450px;
  background-image: url(../picture/story1.jpg);
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: cover;
  border: none;
  outline: none;
  cursor: pointer;
}

.story-container .story-two .pic-section {
  width: 100%;
  height: 450px;
  background-image: url(../picture/story2.jpg);
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: cover;
  border: none;
  outline: none;
  cursor: pointer;
}

.story-container .story-three .pic-section {
  width: 100%;
  height: 450px;
  background-image: url(../picture/story3.jpg);
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: cover;
  border: none;
  outline: none;
  cursor: pointer;
}

.story-container .story-one .pic-section {
  max-width: 100%;
  
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.story-container .story-one .pic-section:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  box-shadow: 0px 8px 10px #888888;
}

.story-container .story-two .pic-section {
  max-width: 100%;
  
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.story-container .story-one:hover {

}

.story-container .story-two .pic-section:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  box-shadow: 0px 8px 10px #888888;
}

.story-container .story-three .pic-section {
  max-width: 100%;
  
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.story-container .story-three .pic-section:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  box-shadow: 0px 8px 10px #888888;
}


.story-container .text-section {
  width: auto;
  height: auto;
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
  align-content: stretch;
}

.story-container .text-section .category-text {
  font-size: 25px;
  font-weight: 500;
  text-transform: uppercase;
  border: 2px solid #222222;
  border-radius: 25px;
  color: #222222;
  padding: 2px 15px;
  margin-top: 50px;
}

.story-container .text-section .date-text {
  font-size: 25px;
  font-weight: 500;
  color: #222222;
  margin-top: 25px;
}

.story-container .text-section h3 {
  font-size: 35px;
  font-weight: 700;
  color: #222222;
  margin-top: 25px;
}

/* THE STORYBOARD END */

/* STAY SOCIAL SECTION START */

.staysocial-txt-section {
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
  align-content: stretch;
  margin-top: 80px;
}

.staysocial-txt-section h1 {
  font-size: 55px;
  font-weight: 500;
  text-align: center;
  color: #222222;
}

.staysocial-txt-section span {
  font-size: 35px;
  font-weight: 300;
  color: #222222;
  text-align: center;
}

.social-pic-container {
  width: 100%;
  /* height: 430px; */
  margin-top: 50px;
  background: #222222;
  /* border-top: 3px solid #222222; */
  padding-top: 3px;
}

.social-pic-container .pic-sm-1 {
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: baseline;
  align-content: stretch;
}

.img-zoom {
  overflow: hidden;
  position: relative;
}
.img-zoom .img-responsive {
  width: 100%;
}
.img-zoom .img-responsive {
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -moz-transition: all 600ms ease-in-out;
  -o-transition: all 600ms ease-in-out;
  -webkit-transition: all 600ms ease-in-out;
  transition: all 600ms ease-in-out;
}
.img-zoom:hover .img-responsive {
  -moz-transform: scale(1.11, 1.1);
  -ms-transform: scale(1.11, 1.1);
  -webkit-transform: scale(1.11, 1.1);
  transform: scale(1.11, 1.1);
  -moz-transition: all 600ms ease-in-out;
  -o-transition: all 600ms ease-in-out;
  -webkit-transition: all 600ms ease-in-out;
  transition: all 600ms ease-in-out;
  opacity: .3;
}

.img-zoom span {
  position: absolute;
  top: -110px;
  width: 100%;
  text-align: center;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
.img-zoom:hover span {
  text-decoration: none;
  top: 150px;
  -moz-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

/* STAY SOCIAL SECTION END */

/* FOOTER START */

.futter-container {
  width: 100%;
  height: 350px;
  background-color: #222222;
  margin-top: 50px;
  padding: 50px 150px;
  box-sizing: border-box;
  display: flex;
}

.footer-txt-elements {
  width: 1148px;
  height: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-content: stretch;
  padding-left: 80px;
}

.futter-container .about-text {
  width: 390px;
  height: 142px;
  box-sizing: border-box;
}

.futter-container h1 {
  font-size: 35px;
  font-weight: 700;
  color: #F29F05;
}

.futter-container .about-text p {
  font-size: 18px;
  font-weight: 300;
  color: #F5F5F5;
  margin-top: 10px;
}

.footer-site p {
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  padding-top: 15px;
  color: #F5F5F5;
  cursor: pointer;
}

.footer-info p {
  font-size: 18px;
  font-weight: 300;
  color: #F5F5F5;
  margin-top: 10px;
}

.footer-shop p {
  font-size: 18px;
  font-weight: 300;
  color: #F5F5F5;
  margin-top: 10px;
  text-transform: uppercase;
  cursor: pointer;
}

.circle-social .footer-social-icons img {
  cursor: pointer;
  padding-left: 15px;
  margin-top: 10px;
}

.circle-social .footer-social-icons img:first-of-type {
padding: 0;
}


/* FOOTER END */